body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Agdasima;
    font-size: 25px;
}

nav {
    width: auto;
    background-color: #A50000;
    font-weight: bold;
}

.bar{
  color: white;
  text-align: center;
  font-family: Agdasima;
  font-size: 35px;
  padding-bottom: 7px;
  letter-spacing: 2px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
    text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

h2 {
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

#container{
  width: auto;
  border: 4px solid red;
  padding: 1em;
  margin: 0 auto;
  display: inline-block;
}

footer{
  margin-top: 35px;
}

/*Start of mobile display + flex/grid CSS*/
section{
  margin-top: 35px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*This is for phone screen sizes*/
@media screen and (max-width: 500px){
  .bar{
    display: flex;
    flex-direction: column;
  }

  section{
    display: flex;
    flex-direction: column;
  }
}

/*This is for tablet screen sizes*/
@media screen and (max-width: 768px){
  .bar{
    display: flex;
    flex-direction: column;
  }

  section{
    display: flex;
    flex-direction: column;
  }

  img{
    margin-bottom: 35px;
  }
}

/*Custom and fun CSS stuff*/

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: rgb(255, 213, 220);
    font-family: Yellowtail;
    font-size: 35px;
}

@keyframes flicker 
{
    0%, 18%, 22%, 25%, 53%, 57%, 100%
    {

    text-shadow:
      0 0 7px red,
      0 0 10px red,
      0 0 21px red,
      0 0 42px red,
      0 0 82px red,
      0 0 92px red,
      0 0 102px red,
      0 0 151px red;
    }
    
    20%, 24%, 55% 
    {        
      text-shadow: none;
    } 
}
